/*
!.gitignore

# HY-Motion 설정
!/HY-Motion-1.0/
/HY-Motion-1.0/*
!/HY-Motion-1.0/hymotion/

# RF-Genesis 설정
!/RF-Genesis/
/RF-Genesis/*
!/RF-Genesis/genesis/
!/RF-Genesis/run.py

# Examples
!/examples/
/examples/__pycache__/